// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    background: rgb(241, 239, 239);
    p  {
      font-size: 40px;
    }
  }

  .card1 {
    background: rgb(235, 224, 178);
    p  {
      font-size: 40px;
    }
  }

  .main {
      h1 {
          font-size: 50px;
      }

      p {
          font-size: 15px;
      }
  }

  .q { 
      font-size: 30px;
  }

  .answer {
      font-size: 34px;
  }